# Default ignored files
/shelf/
/target/
/.idea/
# Datasource local storage ignored files
/../../../../../../../../:\Users\Joanna\Documents\programming\Java\neural-network\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/